/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

.body {
    margin: 25px 0 0 30px;
    font-size: 84%;
}
.body-index {
    margin-left:30px;
    font-size: 84%;
}
.body-show {
    margin-left:30px;
    font-size: 84%;
}
.destroy-flash {
    padding: 30px 0 10px 34px;
    color: green;
}
.hello{
    margin-bottom: -30px;
}

.top {
    padding-left: 32px;
    line-height: 30px;
}

.start {
    color: Black;
}

.head {
    letter-spacing: 0.03em;
}
table {
    padding: 8px;
}
td {
    padding: 3px;
}
.main > p {
    padding: 5px;
}
.show-flash {
    padding: 20px 0 20px 34px;
    color: green;
}
.show-title {
    margin-left: 34px;
}
.show-body {
    margin: 34px;
}
.edit-body {
    margin-top: 5px;
}
.edit-title {
    margin-top: 5px;
}
.edit-update {
    margin-top: 8px;
}
.edit-link {
    margin-top: 8px;
}